*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background: var(--color-bg)
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg{
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  }



.navbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-top: 1rem;
    
}

.navbox .leftside{
    margin-right: 2rem;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    text-transform: capitalize;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.navbox .rightside{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbox .rightside .navlink{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 1rem;
    font-family: var(--font-family);
    margin: 0 1rem;
    cursor: pointer;
    line-height: 25px;
}

.navbox .rightside .navlink1 {
    padding: 0.3rem 0.5rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.locker__header {
    display: flex;
    flex-direction: row;
}

.locker__header-content {
    flex: 2;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.locker__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.container{
    flex: 0.9;
    padding: 0rem 5rem;;
    
}

.signintext{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.locker__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.formtext{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.lockerimage {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: left;
}

.section__padding{
    padding: 4rem 6rem;
}

.section__margin{
    padding: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.form-control{
    width: 100%;
    height: 30px;
}

.submitbutton{
    cursor: pointer;
    padding: 1rem  2rem;
    color: black;
    background: var(--gradient-text);
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.signuphere{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.signuplink{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: rgb(235, 255, 57);
    margin-top: 1.5rem;
}

.forgot-password{
        font-size: 22px;
        color: yellow;
        font-weight: 500;
        font-family: var(--font-family);
        cursor: pointer;
        line-height: 25px;
        background-color:transparent;
        border: none;
    }

.changebutton{
    padding: 10px;
    margin-left: 10PX;
    background-color: rgb(255, 0, 0, 0.4);
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.cancelbutton{
    padding: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: grey;
}

.modelbox{
    background-color: white;
    margin-top: 50px;
    margin-left: 25%;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    width: 50%;
}

.changepassword{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.form-password{
    border-radius: 8px;
    width: 75%;
    padding: 10px;
}








