 .rightside .button5{
    font-size: 25px;
    color: white;
    font-weight: 500;
    margin: 0 1rem;
    font-family: var(--font-family);
    margin: 0 1rem;
    cursor: pointer;
    line-height: 25px;
    background-color: transparent;
    border: none;
}

.fileinput{
    font-size: 0px;
    color: transparent;
    margin: 0 1rem;
    font-family: var(--font-family);
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 0px;
}

.error-msg{
    color: red;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: 1.5rem;
  }



.signintext{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-control{
    width: 100%;
    height: 30px;
}


.addbutton{
    cursor: pointer;
    padding: 1rem  2rem;
    color: black;
    background: var(--gradient-text);
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
}

h1 {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    width: 600px;
    height: auto;
    margin-left: 30%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size:22px;
    font-weight: 600;
    text-align: center;
    position: relative;
    
}

.name {
    display: block;
    width: 100%;
    color: black;
    margin-top: 25px;
}

.count {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}


.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

.locker-modelbox{
    background-color: white;
    margin-top: 50px;
    margin-left: 25%;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    width: 50%;
}

.addlocker-formtext{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.addlocker-form-control{
    border-radius: 8px;
    width: 75%;
    padding: 10px;
}

.lockeraddbutton{
    padding: 10px;
    background-color: rgb(255, 0, 0, 0.4);
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.locker-cancelbutton{
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: grey;
    margin-top: 10px;
}

.gobutton {
    background-color: #f57224;
    color: #fff;
    border: hidden;
    cursor: pointer;
    width: 25%;
    padding: 10px 14px;
    margin-top: 5px;
    margin-bottom: 2px;
    outline: none;
}

.locker-go{
    background-color:gray;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.locker-edit{
    background-color: rgb(0, 255, 0, 0.4);
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-left: 50px;
}

.locker-add{
    background-color: rgba(233, 218, 15);
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-left: 30px;
}


.locker-delete{
    background-color: rgb(255, 0, 0, 0.4);
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-left: 50px;   
}

.model1box{
    background-color: white;
    margin-top: 50px;
    margin-left: 25%;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    width: 50%;
}

.para{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.deletebutton{
    padding: 10px;
    background-color: rgb(255, 0, 0, 0.4);
    border: none;
    border-radius: 5px;
    font-size: 22px;
}

.cancel-button{
    padding: 10px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    background-color: grey;
    margin-top: 10px;
    margin-left: 15px;
}

.edit-cancel-button{
    padding: 10px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    background-color: grey;
    margin-top: 10px;
}

.edit-button{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(255, 0, 0, 0.4);
    border: none;
    border-radius: 5px;
    font-size: 22px;
    margin-left: 15px;
}

.locker-go-nonuser{
    background-color:gray;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-left: 230PX;
    margin-top: 30px;
    margin-bottom: 20px;
}

.show{
    margin-left: 41%;
    font-size: 60px;
}

.count-remainder{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: red;
}
