
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

<<<<<<< HEAD
=======
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

>>>>>>> 8f1e4dc75bf96f7b015415f8f91d9bb8bbec377c
body{
    background: var(--color-bg)
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg{
<<<<<<< HEAD
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  }
=======
    background:-moz-radial-gradient(circle at 3% 25%, rgb(75, 117, 161) 0%, rgb(41, 85, 151) 25%);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgb(75, 117, 161) 0%, rgb(41, 85, 151) 25%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgb(75, 117, 161) 0%, rgb(41, 85, 151) 25%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgb(75, 117, 161) 0%, rgb(41, 85, 151) 25%);
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgb(75, 117, 161) 0%, rgb(41, 85, 151) 25%);
  }





.locker__header {
    display: flex;
    flex-direction: row;
}

.locker__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* flex-direction: column; */

    /* margin-right: 5rem; */
}

.locker__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.locker__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lockerimage {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__padding{
    padding: 4rem 6rem;
}

.section__margin{
    padding: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}







>>>>>>> 8f1e4dc75bf96f7b015415f8f91d9bb8bbec377c
