
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.userbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    padding-bottom: 0px;
}

.userbox .leftside{
    margin-right: 2rem;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    text-transform: capitalize;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gradient__bg{
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  }

  .userbox .rightside .logout{
    font-size: 25px;
    color: white;
    font-weight: 500;
    margin: 0 1rem;
    font-family: var(--font-family);
    margin: 0 1rem;
    cursor: pointer;
    line-height: 25px;
    background-color: transparent;
    border: none;
}


.section__padding{
    padding: 4rem 6rem;
}

.show1{
    text-align: center;
    font-size: 55px;
    padding-top: 20px;
}

.image{
    width: 100%;
    height : 100%;
    padding: 10px;
}

.image2{
    width: 100%;;
    height : 100%;
    padding: 10px;
}



.button{
    cursor: pointer;
    background-color: transparent;
    border-width: 10px;
    border-color: yellow;
    border-radius: 25px;
    width: 20%;
    align-content: center;
    color : white;
    margin: 2%;
    padding: 2%;
    
}

.text-button{
    font-size: 20px;
}








